/node_modules
.env
logs/**/*
!logs/**/.gitkeep
/uploads/**
!/uploads/**/.gitkeep
!/uploads/**/default-profile.png
!/uploads/**/default-product.png
!/uploads/**/default-product.jpg
/database/**/*
!/database/**/.gitkeep
*.tmp
/build/
.vscode/
dist
